# SPDX-License-Identifier: Apache-2.0
# Let members of the audio group drive the AE-5 / AE-5 Plus LEDs from OpenBlaster, which runs as you, not
# as root. The LEDs are on two pins of the controller that are reached through the card's BAR2 register
# window, exposed by the kernel as the resource2 file of the PCI device. Without this rule OpenBlaster
# still works; only the Lighting page is missing.
ACTION=="add|change", SUBSYSTEM=="pci", ATTR{vendor}=="0x1102", ATTR{device}=="0x0012", ATTR{subsystem_device}=="0x0051", RUN+="/bin/sh -c 'chgrp audio /sys%p/resource2 && chmod 0660 /sys%p/resource2'"
ACTION=="add|change", SUBSYSTEM=="pci", ATTR{vendor}=="0x1102", ATTR{device}=="0x0012", ATTR{subsystem_device}=="0x0191", RUN+="/bin/sh -c 'chgrp audio /sys%p/resource2 && chmod 0660 /sys%p/resource2'"
